<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/heart.css" />
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/application.css" />

    <script src="/javascripts/heart.js"></script>

  </head>
  <body>

    <div class="home-msg">
      <div>I love Ashley Jade. I am so lucky i have you in my life. Everyday with you is the greatest day of all time.</div>
      <div>Heres to all the amazing times we've already have, and to the ones yet to come.</div>
    </div>

    <div class="heart-wrapper active">
      <div class="heart">
        <div class="tl"></div>
        <div class="tr"></div>
        <div class="bl"></div>
        <div class="br"></div>
      </div>
      <div class="ring"></div>
      <div class="circles"></div>
    </div>

</body>
</html>
